coverage
dist
src
spec
test
tools
typings
.gitignore
.npmignore
.editorconfig
.travis.yml
appveyor.yml
npm-debug.log
tsconfig.json
tslint.json
typings.json
protractor.conf.js
karma.conf.js
src/*.spec.ts
src/*.spec.js